/* formattazione standard */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

/* Regole generiche */
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.contenitore-body {
    width: 80%;
    margin: 10px auto;  
}

.logo {
    height: 100%;
    border-right: 1px solid lightgrey;
    padding: 10px;
}

nav {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

nav > a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: lightgray;
}

.box-rosa {
    width: 100%;
    height: 7em;
    background-color:white;
}

.box-giallo {
    margin-top: 20px;
    width: 100%;
    height: 21em;
    background-color: gold;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}

.trasparenza {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.contenitore-testo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.5em;
    width: 60%;
    height: 100%;
    color: white;
    padding-top: 25em;
    padding-left: 4em;   
}

.contenuto-pagina {
    font-family: Arial, Helvetica, sans-serif;
    color: lightgrey;
}

.contenuto-pagina {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
}

.box-azzurro {
    width: 100%;
    height: 30em;
    margin-top: 20px; 
}

.no-float {
    height: 4em;
    font-family: Arial, Helvetica, sans-serif;
}

.no-float > h2 {
    font-size: 1,7em;
}

.sottotitolo {
    color: lightgrey;
}

.float {
    float: left;
    height: 26em;
}

.col-left, .col-right {
    width: 25%;
}

.col-centro {
    width: calc(50% - 10px);
    margin-left:  5px;
    margin-right: 5px;
}

.immagine-sinistra {
    width: 100%;
    height: 10em;
    background-image: url(../img/img-1.jpg);
    background-position: center;
    background-size: cover;
}

.immagine-destra {
    width: 100%;
    height: 10em;
    background-image: url(../img/img-3.jpg);
    background-position: center;
    background-size: cover;
}

.immagine-centro {
    width: 100%;
    height: 10em;
    background-image: url(../img/banner-2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.titolo-col-left {
    margin: 1em auto;
}

/* piè di pagina */
footer {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 10px;
    width: 100%;
    height: 3em;
}

.cuore {
    color: red;
}